USE [COSTCO_MX_2011_C]
GO
/****** Object:  Schema [AMER\EPine01]    Script Date: 04/18/2012 17:15:24 ******/
CREATE SCHEMA [AMER\EPine01] AUTHORIZATION [AMER\EPine01]
GO
/****** Object:  StoredProcedure [AMER\EPine01].[sp_Phantom]    Script Date: 04/18/2012 17:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [AMER\EPine01].[sp_Phantom]
AS
	Select name, create_date from sys.tables Where name like 'P[_]%'
GO
/****** Object:  Synonym [dbo].[Syn_ACAPRIPSAV_JN]    Script Date: 04/18/2012 17:17:04 ******/
CREATE SYNONYM [dbo].[Syn_ACAPRIPSAV_JN] FOR [Vw_ACAPRIPSAV_JN]
GO
/****** Object:  Synonym [dbo].[Syn_ACHRRTP_JN]    Script Date: 04/18/2012 17:17:05 ******/
CREATE SYNONYM [dbo].[Syn_ACHRRTP_JN] FOR [Vw_ACHRRTP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_ACNOCAP_JN]    Script Date: 04/18/2012 17:17:05 ******/
CREATE SYNONYM [dbo].[Syn_ACNOCAP_JN] FOR [Vw_ACNOCAP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_ACRBLDP_JN]    Script Date: 04/18/2012 17:17:05 ******/
CREATE SYNONYM [dbo].[Syn_ACRBLDP_JN] FOR [Vw_ACRBLDP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_DATOS_IN_JN]    Script Date: 04/18/2012 17:17:06 ******/
CREATE SYNONYM [dbo].[Syn_DATOS_IN_JN] FOR [Vw_DATOS_IN_JN]
GO
/****** Object:  Synonym [dbo].[Syn_ACRCUSP_JN]    Script Date: 04/18/2012 17:17:06 ******/
CREATE SYNONYM [dbo].[Syn_ACRCUSP_JN] FOR [Vw_ACRCUSP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_ACVNAMP_JN]    Script Date: 04/18/2012 17:17:06 ******/
CREATE SYNONYM [dbo].[Syn_ACVNAMP_JN] FOR [Vw_ACVNAMP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_DATOS_JN]    Script Date: 04/18/2012 17:17:06 ******/
CREATE SYNONYM [dbo].[Syn_DATOS_JN] FOR [Vw_DATOS_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INBUMSP_JN]    Script Date: 04/18/2012 17:17:06 ******/
CREATE SYNONYM [dbo].[Syn_INBUMSP_JN] FOR [Vw_INBUMSP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INIDSCP_JN]    Script Date: 04/18/2012 17:17:07 ******/
CREATE SYNONYM [dbo].[Syn_INIDSCP_JN] FOR [Vw_INIDSCP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INPITMP_JN]    Script Date: 04/18/2012 17:17:07 ******/
CREATE SYNONYM [dbo].[Syn_INPITMP_JN] FOR [Vw_INPITMP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INRCVHP_JN]    Script Date: 04/18/2012 17:17:07 ******/
CREATE SYNONYM [dbo].[Syn_INRCVHP_JN] FOR [Vw_INRCVHP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INUPCWP_JN]    Script Date: 04/18/2012 17:17:07 ******/
CREATE SYNONYM [dbo].[Syn_INUPCWP_JN] FOR [Vw_INUPCWP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INVITMP_JN]    Script Date: 04/18/2012 17:17:08 ******/
CREATE SYNONYM [dbo].[Syn_INVITMP_JN] FOR [Vw_INVITMP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INVMSTP_JN]    Script Date: 04/18/2012 17:17:08 ******/
CREATE SYNONYM [dbo].[Syn_INVMSTP_JN] FOR [Vw_INVMSTP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INWCTLP_JN]    Script Date: 04/18/2012 17:17:08 ******/
CREATE SYNONYM [dbo].[Syn_INWCTLP_JN] FOR [Vw_INWCTLP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_PODETAL_JN]    Script Date: 04/18/2012 17:17:09 ******/
CREATE SYNONYM [dbo].[Syn_PODETAL_JN] FOR [Vw_PODETAL_JN]
GO
/****** Object:  Synonym [dbo].[Syn_POTOTAL_JN]    Script Date: 04/18/2012 17:17:09 ******/
CREATE SYNONYM [dbo].[Syn_POTOTAL_JN] FOR [Vw_POTOTAL_JN]
GO
/****** Object:  Synonym [dbo].[Syn_SAIFPIP_JN]    Script Date: 04/18/2012 17:17:09 ******/
CREATE SYNONYM [dbo].[Syn_SAIFPIP_JN] FOR [Vw_SAIFPIP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_ACAPRVPSAV_JN]    Script Date: 04/18/2012 17:17:05 ******/
CREATE SYNONYM [dbo].[Syn_ACAPRVPSAV_JN] FOR [Vw_ACAPRVPSAV_JN]
GO
/****** Object:  Synonym [dbo].[Syn_ACBADRP_JN]    Script Date: 04/18/2012 17:17:05 ******/
CREATE SYNONYM [dbo].[Syn_ACBADRP_JN] FOR [Vw_ACBADRP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_VENTAS_JN]    Script Date: 04/18/2012 17:17:09 ******/
CREATE SYNONYM [dbo].[Syn_VENTAS_JN] FOR [P_Ventas_JN]
GO
/****** Object:  Synonym [dbo].[Syn_INPMSTP_JN]    Script Date: 04/18/2012 17:17:07 ******/
CREATE SYNONYM [dbo].[Syn_INPMSTP_JN] FOR [Vw_INPMSTP_JN]
GO
/****** Object:  Synonym [dbo].[Syn_List_InvNbr]    Script Date: 04/18/2012 17:17:08 ******/
CREATE SYNONYM [dbo].[Syn_List_InvNbr] FOR [#List_InvNbr]
GO
/****** Object:  View [dbo].[Vw_ACAPRIPSAV_JN]    Script Date: 04/18/2012 17:17:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ACAPRIPSAV_JN]
		AS
		Select Distinct RRWHSE, RRAPNO, RRASUF, RRPONO, RRLOGL, RRITEM, RRDEPT, RRTRAN, RRITTP, RRCMPY, RRBOFF, RRBUYR, RRSELL, RRFSEL, RRFSDT, RRQORD, RRQRCV, RRVBUQ, RRVBUD, RRMPK, RRMPKD, RRSQTY, RRCUBE, RRWGT, RRFAMT, RRFAPC, RRFAMK, RRFACT, RRCHGC, RRICHG, RRCOST, RRNLC, RRNCST, RRDFI1, RRDFI2, RRDFI3, RRCHCD, RRDFI4, RRDFI5, RRRAND, RRSTAS, RRFLG1, RRFLG2, RRFLG3, RRFLG4, RRFLG5, RRFLG6, RRMTCH, RRCDAT, RRCASE, RRFRT2, RRFRTC, RRMIS2, RRMI2C, RRMIS3, RRMI3C, RRMISP, RRMIPC, RRFLG0, RRFLG7, RRFLG8, RRFLG9, RRPMRK, RRVATC, RREXCR, RRDUTP, RRDUTD, RRSLTX, RREXTX
        FROM dbo.C_ACAPRIPSAV_20120209
GO
/****** Object:  View [dbo].[Vw_ACAPRVPSAV_JN]    Script Date: 04/18/2012 17:17:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ACAPRVPSAV_JN]
		AS
		Select Distinct RVCMPY, RVWHSE, RVDEPT, RVAPNO, RVASUF, RVPONO, RVSEQ, RVLOGL, RVNAME, RVASRT, RVVEND, RVSUFF, RVTRAN, RVRCDT, RVPER, RVRSEL, RVRCST, RVRREB, RVDUED, RVRANO, RVRSON, RVTFRT, RVFLG1, RVFLG2, RVFLG3, RVFLG4, RVTMS1, RVMI1C, RVTMS2, RVMI2C, RVTMS3, RVMI3C, RVTFR2, RVFRTC, RVTMS4, RVMI4C, RVTMSP, RVMIPC
        FROM dbo.C_ACAPRVPSAV_20120209
GO
/****** Object:  View [dbo].[Vw_ACBADRP_JN]    Script Date: 04/18/2012 17:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ACBADRP_JN]
		AS
		Select Distinct BACMPY, BAVEND, BASUFF, BABSEQ, BADEPT, BANAME, BABLNM, BAADR1, BAADR2, BAADR3, BAADR4, BAPCDE, BAPHON, BACONT
        FROM dbo.C_ACBADRP_20120209
GO
/****** Object:  View [dbo].[Vw_ACHRRTP_JN]    Script Date: 04/18/2012 17:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ACHRRTP_JN]
		AS
		Select Distinct RBAPNO, RBASUF, VNNAM1, BAADR1, BAADR2, BAADR3, BAADR4, BAPCDE, RCRCV1, RCRCV2, RCRCV3, RBWHSE, RBDEPT, RBTRAN, RBPONO, RBLOGL, RBRBNO, RBRCDT, RBINV#, RBRBDL, BDINV#, BDAAMT, RBPER, RBCDAT, RBSTDT, RBENDT
        FROM dbo.C_ACHRRTP_20120209
GO
/****** Object:  View [dbo].[Vw_ACNOCAP_JN]    Script Date: 04/18/2012 17:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ACNOCAP_JN]
		AS
		Select Distinct NCCMPY, NCMFDT, NCMFAB, NCMFAV, NCOKPS, NCBTOT, NCBVAT, NCOPR#, NCACF1, NCINVD, NCDES1, NCDES2, NCDES3, NCDES4, NCDES5, NCINV#, NCAPNO, NCASUF, NCTIMO, NCMNEX, NCFCFD, NCMONT, NCIVA, NCCFD
        FROM dbo.C_ACNOCAP_20120209
GO
/****** Object:  View [dbo].[Vw_ACRBLDP_JN]    Script Date: 04/18/2012 17:17:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ACRBLDP_JN]
		AS
		Select Distinct BDCMPY, BDRCVT, BDVEND, BDSUFF, BDBSEQ, BDRBNO, BDTRTY, BDBLNO, BDWHSE, BDPONO, BDINV#, BDLOGL, BDFYR, BDPER, BDADAT, BDDESC, BDAAMT
        FROM dbo.C_ACRBLDP_20120209
GO
/****** Object:  View [dbo].[Vw_ACRCUSP_JN]    Script Date: 04/18/2012 17:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ACRCUSP_JN]
		AS
		Select Distinct RCCMPY, RCRCVT, RCVEND, RCSUFF, RCBSEQ, RCRBNO, RCRCV1, RCRCV2, RCRCV3, RCINF1, RCINF2, RCSTDT, RCENDT, RCBDT1, RCBDT2, RCBDT3, RCBDT4, RCATF, RCLBDT, RCDNB, RCEXDT, RCDFP, RCAPCY, RCDEPT, RCAPNO, RCASUF
        FROM dbo.C_ACRCUSP_20120209
GO
/****** Object:  View [dbo].[Vw_ACVNAMP_JN]    Script Date: 04/18/2012 17:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_ACVNAMP_JN]
		AS
		Select distinct VMAPNO, VMASUF, VNNAM1, VNRFC, VMRAD1, VMRAD2, VMRAD3, VMRAD4, VMPHON, VMCONT, VMINAC
        FROM dbo.C_ACVNAMP_20120209
GO
/****** Object:  StoredProcedure [AMER\EPine01].[Costco_sp_Devoluciones]    Script Date: 04/18/2012 17:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [AMER\EPine01].[Costco_sp_Devoluciones]
AS

IF exists (select * from dbo.sysobjects where id = object_id(N'[P_Devoluciones]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table DBO.[P_Devoluciones]

Select Distinct
FACTURA	=	b.INVNBR,
FEC_DEV	=	a.RRCDAT,
TIENDA	=	a.RRWHSE,
PROVEEDOR	=	a.RRAPNO,
SUFIJO	=	a.RRASUF,
PEDIDO	=	a.RRPONO,
ITEM	=	a.RRITEM,
DESCRIPCION	=	c.Descripcion,
DEPARTAMENT	=	a.RRDEPT,
TRANSACCION	=	a.RRTRAN,
PIEZAS_DEVUELTAS	=	a.RRQRCV,
COSTO_NETO	=	a.RRNCST,
PRECIO_VENTA	=	a.RRSELL,
DEPOT_PERCENT	=	a.RRFAPC,
DEPOT	=	a.RRFAMT,
COSTO_BRUTO	=	a.RRCOST,
COSTO_DEVOLUCION	=	a.RRNLC,
RRDFI1	=	a.RRDFI1,
RRDFI2	=	a.RRDFI2,
RRDFI3	=	a.RRDFI3,
RRDFI4	=	a.RRDFI4,
RRDFI5	=	a.RRDFI5,
CHEQUE	=	CAST(b.CHKNBR as varchar(15)),
FEC_CHK	=	b.CHKDT,
VATAmt	=	CAST(IsNull(b.JETAMT, 0) as Numeric(12,2)),
TOTAL_DESCONTADO	=	CAST(IsNull(b.INV_AMT, 0) as Numeric(12,2))
---------------------------------------- >>>
INTO DBO.P_Devoluciones
----------- P_ACAPRIPSAV  -------------- >>>
FROM        dbo.Syn_ACAPRIPSAV_JN	a
----------- WF_AP_RVonly  -------------- >>>
LEFT JOIN   WF_AP_RVonly	b	ON
	a.RRDEPT = b.DPTNBR  AND 
	a.RRAPNO = b.VNDNBR  AND 
	a.RRLOGL = b.JELOGL  AND 
	a.RRPONO = b.PONBR		
----------- WF_ItemDescAV  -------------- >>>
LEFT JOIN   WF_ItemDesc		c	ON
	a.RRAPNO = c.Proveedor AND 
	a.RRITEM = c.Item
GO
/****** Object:  StoredProcedure [AMER\EPine01].[Costco_sp_BuildingExportData]    Script Date: 04/18/2012 17:17:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- [Begin Procedure: Costco_sp_BuildingExportData]

	CREATE PROCEDURE [AMER\EPine01].[Costco_sp_BuildingExportData]
	AS
			-- ~ ------------------------ ~
			-- ~ X_ACRBLDP				 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_ACRBLDP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table X_ACRBLDP

			Select Distinct BDCMPY, BDRCVT, BDVEND, BDSUFF, BDBSEQ, BDRBNO, BDTRTY, BDBLNO, BDWHSE, BDPONO, BDINV#, BDLOGL, BDFYR, BDPER, BDADAT, BDDESC, BDAAMT
			into dbo.X_ACRBLDP
			From dbo.Sys_ACRBLDP_JN

			-- ~ ------------------------ ~
			-- ~ X_INPMSTP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INPMSTP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			DROP Table X_INPMSTP

			Select  Distinct PMWHSE, PMDEPT, PMVEND, PMSUFF, PMPONO, PMPOTP, PMPOST, PMPRNT, PMCMPY, PMBOFF, PMBUYR, PMNAME, PMORDT, PMCHDT, PMCNDT, PMARDT, PMSHDT, PMTDES, PMCPCT, PMDAY1, PMTYP1, PMTYP2, PMTYP3, PMDAY2, PMDFI1, PMDFI2, PMDFI3, PMCHCD, PMMPCT, PMMDOL, PMFPCT, PMFACT, PMFCWT, PMCARR, PMFOB, PMSHWH, PMSHVN, PMSHVS, PMFTRM, PMBOA, PMMIND, PMOCST, PMOSEL, PMOUNT, PMONLC, PMOCAS, PMOFRT, PMOWGT, PMOCUB, PMOFSL, PMRCDT, PMRCTR, PMRSEL, PMRUNT, PMRNLC, PMRFRT, PMRWGT, PMRCAS, PMPRDT, PMFLG1, PMFLG2, PMFLG3, PMFLG4, PMFLG5, PMFLG6, PMFLG7, PMFLG8, PMFLG9, PMTMS2, PMMI2C, PMTMS3, PMMI3C, PMTFR2, PMFRTC, PMTMS4, PMMI4C, PMTMS1, PMMI1C, PMTMSP, PMMIPC, PMFLGA, PMFLGB, PMFLGC, PMFLGD, PMFLGE, PMFLGF, PMFLGG, PMFLGH, PMFLGI, PMFLGJ, PMFLGK, PMFLGL, PMFLGM, PMFLGN, PMFLGO, PMNACT
			into dbo.X_INPMSTP
			From dbo.Sys_INPMSTP_JN

			-- ~ ------------------------ ~
			-- ~ X_INPMSTP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INPITMP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop table X_INPITMP

			Select  Distinct PIWHSE, PIDEPT, PIVEND, PISUFF, PIPONO, PIITEM, PIPOTP, PICMPY, PIBOFF, PIBUYR, PISELL, PIFSEL, 
			PIFSDT = CASE WHEN ISDATE(PIFSDT) = 1 THEN Convert(smalldatetime, CAST(PIFSDT as Varchar(8)), 120)  
			Else null end,
			PIQORD, PIQRCV, PIVBUQ, PIVBUD, PIMPK, PIMPKD, PISQTY, PICUBE, PISDES, PIWGT, PIFAMT, PIFAPC, PIFAMK, PIFACT, PICHGC, PIICHG, PICOST, PINLC, PINCST, PIDFI1, PIDFI2, PIDFI3, PICHCD, PIDFI4, PIDFI5, PIRAND, PIFLG1, PIFLG2, PIFLG3, PIFLG4, PIFLG5, PIFLG6, PIFRT2, PIFRTC, PIMIS2, PIMI2C, PIMIS3, PIMI3C, PIMISP, PIMIPC, PIFLG0, PIFLG7, PIFLG8, PIFLG9, PIAPBO, PIPER, PIWEEK, PIPMRK, PIVATC, PIEXCR, PIDUTP, PIDUTD, PISLTX, PIEXTX
			Into dbo.X_INPITMP
			From dbo.Syn_INPITMP_JN

			-- ~ ------------------------ ~
			-- ~ X_INIDSCP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INIDSCP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table X_INIDSCP

			Select  Distinct IDITEM, IDCMPY, IDDEPT, IDCAT1, IDCAT2, IDCAT3, IDDES1, IDDES2, IDSGN1, IDSGN2, IDSGN3, IDRDES, IDBOFF, IDBUYR, IDFLG1, IDFLG2, IDFLG3, IDFLG4, IDUPC#, IDMDL#, IDVSLF, IDDSLF, IDCSLF, IDUNIT, IDFCTR, IDTSG1, IDTSG2, IDTSG3, IDADDT1, IDTMPC, IDCBR1, IDCBR2, IDCBR3, IDCSL1, IDCSL2, IDCSL3
			Into dbo.X_INIDSCP
			From dbo.Syn_INIDSCP_JN

			-- ~ ------------------------ ~
			-- ~ X_INPMSTP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INVITMP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table X_INVITMP

			Select Distinct VIWHSE, VIDEPT, VIVEND, VISUFF, VIITEM, VIBUYR, VIBOFF, VICMPY, VISQTY, VISDES, VIVBUQ, VIVBUD, VIMPK, VIMPKD, VIWGT, VICUBE, VIRAND, VIFAMT, VIFRT2, VIFRTC, VIFAPC, VIFAMK, VIFACT, VICHGC, VIICHG, VIMI2C, VIMIS2, VIMI3C, VIMIS3, VIMISP, VIMIPC, VICOST, VINCST, VINLC, VIDFI1, VIEDT1, VIDFI2, VIEDT2, VIDFI3, VIEDT3, VICHCD, VIDFI4, VIEDT4, VIDFI5, VIEDT5, VIALT, VIADDT, VIDSDT, VISTAT, VIFLG1, VIFLG2, VIFLG3, VIFLG4, VIFLG5, VIFLG6, VIFLG7, VIFLG8, VIFLG9, VIPMRK, VIVATC, VIEXCR, VIDUTP, VIDUTD, VISLTX, VIEXTX, VIDPOT
			Into dbo.X_INVITMP
			From dbo.Syn_INVITMP_JN

			-- ~ ------------------------ ~
			-- ~ X_INVMSTP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INVMSTP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_INVMSTP

			Select Distinct VMWHSE, VMDEPT, VMVEND, VMSUFF, VMBUYR, VMBOFF, VMNAME, VMSORT, VMTDES, VMCPCT, VMDAY1, VMTYP1, VMTYP2, VMTYP3, VMDAY2, VMDFI1, VMDFI2, VMDFI3, VMCHCD, VMMPCT, VMMDOL, VMFPCT, VMFACT, VMFCWT, VMCARR, VMSHPF, VMFOB, VMSHWH, VMSHVN, VMSHVS, VMFTRM, VMPOTO, VMORD, VMVEN, VMSHP, VMDOCK, VMSTK, VMMIND, VMMINX, VMBOA, VMSHPC, VMODAY, VMORIN, VMSSTK, VMSTAT, VMBBS, VMCMPY, VMADR1, VMADR2, VMADR3, VMADR4, VMCTRY, VMPCDE, VMCONT, VMPHON, VMRNAM, VMRCON, VMRPHN, VMOCON, VMOPHN, VMFAX1, VMFAX2, VMFLG1, VMFLG2, VMFLG3, VMFLG4, VMFLG5, VMFLG6, VMFLG7, VMFLG8, VMFLG9, VMADDT, VMCHGD, VMFLGA, VMFLGB, VMFLGC, VMFLGD, VMFLGE, VMFLGF, VMFLGG, VMFLGH, VMFLGI, VMFLGJ, VMHAND, VMBROK, VMFLGK, VMFLGL, VMFLGM, VMFLGN, VMFLGO, VMFLGP, VMFLGQ, VMFLGR, VMFLGS, VMFLGT, VMAUTR
			Into dbo.X_INVMSTP
			From dbo.Syn_INVMSTP_JN

			-- ~ ------------------------ ~
			-- ~ X_INWCTLP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INWCTLP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_INWCTLP

			Select Distinct WCWHSE, WCREGN, WCCMPY, WCNAME, WCSNAM, WCADR1, WCADR2, WCADR3, WCADR4, WCCTRY, WCPCDE, WCPHON, WCRCDT, WCSLDT, WCRBAY, WCPHDT, WCRECT, WCOPDT, WCOPD2, WCPODT, WCPOSQ, WCSTAT, WCOUTQ, WCFLG1, WCFLG2, WCFLG3, WCFLG4, WCFLG5, WCFLG6, WCFLG7, WCFLG8, WCFLG9, WCFLG0, WCFLGA, WCFLGB, WCFLGC, WCFLGD, WCFLGE, WCFLGF, WCFLGG, WCFLGH, WCFLGI, WCFLGJ, WCFLGK, WCFLGL, WCFLGM, WCFLGN, WCFLGO, WCMSGQ, WCFLD1, WCFLD2, WCFLD3, WCFLD4, WCOTQ2, WCLANG, WCFLGP, WCFLGQ, WCFLGR, WCFLGS, WCFLGT
			Into dbo.X_INWCTLP
			From dbo.Syn_INWCTLP_JN

			-- ~ ------------------------ ~
			-- ~ X_INBUMSP			 ~
			-- ~ ------------------------ ~
			-- 145	03-10-2010
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INBUMSP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_INBUMSP

			Select Distinct BUBUYR, BUCMPY, BUREGN, BUDEPT, BUBOFF, BUBNAM, BUBMGR, BUFLG1, BUFLG2, BUFLG3, BUFLG4, BUFLG5
			Into dbo.X_INBUMSP
			From dbo.Syn_INBUMSP_JN

			-- ~ ------------------------ ~
			-- ~ X_INRCVHP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INRCVHP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_INRCVHP

			Select Distinct RHSHWH, RHITEM, RHDATE, RHWHSE, RHPONO, RHLOGL, RHTRAN, RHSHTO, RHDEPT, RHVEND, RHSUFF, RHQORD, RHQRCV, RHNLC, RHSELL
			Into dbo.X_INRCVHP
			From dbo.Syn_INRCVHP_JN

			-- ~ ------------------------ ~
			-- ~ X_INUPCWP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_INUPCWP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_INUPCWP

			Select Distinct UWCMPY, UWWHSE, UWITEM, UWUPC#, UWCUPC, UWDLTF, UWFLG1, UWFLG2, UWFLG3, UWFLG4, UWFLG5
			Into dbo.X_INUPCWP
			From dbo.Syn_INUPCWP_JN

			-- ~ ------------------------ ~
			-- ~ X_ACBADRP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_ACBADRP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_ACBADRP

			Select Distinct BACMPY, BAVEND, BASUFF, BABSEQ, BADEPT, BANAME, BABLNM, BAADR1, BAADR2, BAADR3, BAADR4, BAPCDE, BAPHON, BACONT
			Into dbo.X_ACBADRP
			From dbo.Syn_ACBADRP_JN

			-- ~ ------------------------ ~
			-- ~ X_ACHRRTP				 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_ACHRRTP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table  dbo.X_ACHRRTP

			Select Distinct RBAPNO, RBASUF, VNNAM1, BAADR1, BAADR2, BAADR3, BAADR4, BAPCDE, RCRCV1, RCRCV2, RCRCV3, RBWHSE, RBDEPT, RBTRAN, RBPONO, RBLOGL, RBRBNO, RBRCDT, RBINV#, RBRBDL, BDINV#, BDAAMT, RBPER, RBCDAT, RBSTDT, RBENDT
			Into dbo.X_ACHRRTP
			From dbo.Syn_ACHRRTP_JN

			-- ~ ------------------------ ~
			-- ~ X_ACRCUSP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_ACRCUSP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_ACRCUSP

			Select Distinct RCCMPY, RCRCVT, RCVEND, RCSUFF, RCBSEQ, RCRBNO, RCRCV1, RCRCV2, RCRCV3, RCINF1, RCINF2, RCSTDT, RCENDT, RCBDT1, RCBDT2, RCBDT3, RCBDT4, RCATF, RCLBDT, RCDNB, RCEXDT, RCDFP, RCAPCY, RCDEPT, RCAPNO, RCASUF
			Into dbo.X_ACRCUSP
			From dboSyn_ACRCUSP_JN

			-- ~ ------------------------ ~
			-- ~ X_ACVNAMP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_ACVNAMP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_ACVNAMP

			Select Distinct VMAPNO, VMASUF, VNNAM1, VNRFC, VMRAD1, VMRAD2, VMRAD3, VMRAD4, VMPHON, VMCONT, VMINAC
			Into dbo.X_ACVNAMP
			From dbo.Syn_ACVNAMP_JN

			-- ~ ------------------------ ~
			-- ~ X_POTOTAL09			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_POTOTAL]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table  dbo.X_POTOTAL

			Select Distinct AMWHSE, AMAPNO, AMASUF, AMPONO, AMLOGL, AMRCDT, AMAPNM, AMDEPT, AMTRAN, AMBUYR, AMBOFF, AMTDES, AMTYP1, 
			AMTYP3 = Cast( null as Varchar(1) ),
			AMDFI1, AMDFI2, AMDFI3, AMCHCD, AMRSEL, AMRNET
			Into dbo.X_POTOTAL
			From dbo.Syn_POTOTAL_JN

			-- ~ ------------------------ ~
			-- ~ X_PODETAIL			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_PODETAIL]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_PODETAIL

			Select Distinct RRCDAT, RRWHSE, RRDEPT, RRAPNO, RRASUF, VMNAME, RRLOGL, RRPONO, RRITEM, IDDES1, RRQORD, RRQRCV, RRVBUQ, RRCOST, RRNCST, TOTV, TOTC, TOTC1, RRDFI1, RRDFI2, RRDFI3, RRCHCD
			Into dbo.X_PODETAIL
			From dbo.Syn_PODETAL_JN 

			-- ~ ------------------------ ~
			-- ~ X_SAIFPIP			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_SAIFPIP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table X_SAIFPIP

			Select Distinct SIWHSE, SIDATE, SITNDT, SITRCN, SIVEND, SISUFF, SIITEM, SIDEPT, SIQNTY, SIPSIV, SITXIV, SIPRNT, SICSFE, SIAPFL
			-- Old Structure PHYSICAL_STORE_NBR, WORK_STATION_NBR, TRANSACTION_DATE, ITEM_NBR, DEPT_NUM, ITEM_DESCRIPTION, ENTERED_QUANTITY, ITM_SALES_QTY_PRC, TERMS_AND_CONDITIONS, TENDER_TYPE, TENDER_AMOUNT, CUSTOMER_ACCOUNT_NBR, FILE_TAG
			Into dbo.X_SAIFPIP
			From dbo.Syn_SAIFPIP_JN

			-- ~ ------------------------ ~
			-- ~ X_DATOS			 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_DATOS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_DATOS

			Select Distinct JEVEND, JESUFF, JEINV#, JEPONO, JELOGL, JETAMT, JESELA, JETRND, JEINVD, JEDUED, JECHK#, JECHKD, JETTYP, JESRC#, JEMFDT, JEMFAB, JETDAT, JELOC, JEDEPT, JEACC#, JEACCS, JEPER
			Into dbo.X_DATOS
			From  dbo.Syn_DATOS_JN

			-- ~ ------------------------ ~
			-- ~ X_VENTAS				 ~
			-- ~ ------------------------ ~
			IF exists (select * from dbo.sysobjects where id = object_id(N'[X_VENTAS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.X_VENTAS

			Select Distinct FIELD1, FIELD2, FIELD3, FIELD4, FIELD5, FIELD6, FIELD7, FIELD8, FIELD9, FIELD10
			INTO dbo.X_VENTAS
			FROM dbo.Syn_VENTAS_JN

			-- ~ ------------------------ ~
			-- ~ P_VENTAS_Fixed     ~
			-- ~ ------------------------ ~

			IF exists (select * from dbo.sysobjects where id = object_id(N'[P_VENTAS_Fixed]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
			Drop Table dbo.P_VENTAS_Fixed

			Select Distinct 
			VENDOR_NUMBER    = FIELD1,
			VENDOR_SUFFIX    = CAST(CASE LEN(FIELD2)
							WHEN  3  THEN Null
											WHEN  4 THEN SUBSTRING(CAST(FIELD2 as VarChar(5) ) ,1,1)
											ELSE         SUBSTRING(CAST(FIELD2 as VarChar(5) ) ,1,2)
											END as Numeric(2,0)),
			WAREHOUSE_NUMBER = CAST(CASE LEN(FIELD2)
							 WHEN   3 THEN SUBSTRING(CAST(FIELD2 as VarChar(5) ) ,1,3) 
										 WHEN   4 THEN SUBSTRING(CAST(FIELD2 as VarChar(5) ) ,2,3) 
										 ELSE SUBSTRING(CAST(FIELD2 as VarChar(5) ) ,3,3) 
										 END as Numeric(3,0)),
			SYSTEM_DATE      = CASE WHEN IsDate(FIELD3) = 1 THEN CAST(CAST(FIELD3 as VarChar(8)) as smalldatetime)
															ELSE Null end, 
			DEPARTMENT_NUMBER = FIELD4, 
			ITEM_NUMBER      = FIELD5, 
			ITEM_DESCRIPTION = FIELD6, 
			[ON_HAND/SELL_UNITS] = FIELD7,
			SELL_IN_DAY      = CAST((FIELD10 /100) as Decimal(7,2))
			-- SELL_IN_DAY      = CAST((FIELD8 /100) as Decimal(7,2))
			INTO dbo.P_VENTAS_Fixed
			FROM Syn_VENTAS_JN
-- [End Procedure: Costco_sp_BuildingExportData]
GO
/****** Object:  View [dbo].[Vw_DATOS_JN]    Script Date: 04/18/2012 17:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_DATOS_JN]
		AS
		Select distinct JEVEND, JESUFF, JEINV#, JEPONO, JELOGL, JETAMT, JESELA, JETRND, JEINVD, JEDUED, JECHK#, JECHKD, JECHKD_, JETTYP, JESRC#, JEMFDT, JEMFAB, JELOC, JETDAT, JEDEPT, JEACC#, JEACCS, JEPER, FIELD01, FIELD02, FIELD03, FIELD04, FIELD05, FIELD06
        FROM dbo.C_DATOS_20120209
GO
/****** Object:  View [dbo].[Vw_DATOS_IN_JN]    Script Date: 04/18/2012 17:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_DATOS_IN_JN]
		AS
		Select distinct JEVEND, JESUFF, JEINV# as JEINV_Nbr, JEPONO, JELOGL, JETAMT, JESELA, JETRND, JEINVD, JEDUED, JECHK# as JECHK_Nbr, JECHKD, JETTYP, JESRC# as JESRC_Nbr, JEMFDT, JEMFAB, JELOC, JETDAT, JEDEPT, JEACC# as JEACC_Nbr , JEACCS, JEPER, FIELD01, FIELD02, FIELD03, FIELD04, FIELD05, FIELD06
        FROM dbo.C_DATOS_IN_20120209
GO
/****** Object:  View [dbo].[Vw_INBUMSP_JN]    Script Date: 04/18/2012 17:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INBUMSP_JN]
		AS
		Select distinct BUBUYR, BUCMPY, BUREGN, BUDEPT, BUBOFF, BUBNAM, BUBMGR, BUFLG1, BUFLG2, BUFLG3, BUFLG4, BUFLG5
        FROM dbo.C_INBUMSP_20120209
GO
/****** Object:  View [dbo].[Vw_INPITMP_JN]    Script Date: 04/18/2012 17:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INPITMP_JN]
		AS
		Select distinct PIWHSE, PIDEPT, PIVEND, PISUFF, PIPONO, PIITEM, PIPOTP, PICMPY, PIBOFF, PIBUYR, PISELL, PIFSEL, PIFSDT, PIQORD, PIQRCV, PIVBUQ, PIVBUD, PIMPK, PIMPKD, PISQTY, PICUBE, PISDES, PIWGT, PIFAMT, PIFAPC, PIFAMK, PIFACT, PICHGC, PIICHG, PICOST, PINLC, PINCST, PIDFI1, PIDFI2, PIDFI3, PICHCD, PIDFI4, PIDFI5, PIRAND, PIFLG1, PIFLG2, PIFLG3, PIFLG4, PIFLG5, PIFLG6, PIFRT2, PIFRTC, PIMIS2, PIMI2C, PIMIS3, PIMI3C, PIMISP, PIMIPC, PIFLG0, PIFLG7, PIFLG8, PIFLG9, PIAPBO, PIPER, PIWEEK, PIPMRK, PIVATC, PIEXCR, PIDUTP, PIDUTD, PISLTX, PIEXTX
		FROM dbo.C_INPITMP_20120209
GO
/****** Object:  View [dbo].[Vw_INPMSTP_JN]    Script Date: 04/18/2012 17:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INPMSTP_JN]
		AS
		Select distinct PMWHSE, PMDEPT, PMVEND, PMSUFF, PMPONO, PMPOTP, PMPOST, PMPRNT, PMCMPY, PMBOFF, PMBUYR, PMNAME, PMORDT, PMCHDT, PMCNDT, PMARDT, PMSHDT, PMTDES, PMCPCT, PMDAY1, PMTYP1, PMTYP2, PMTYP3, PMDAY2, PMDFI1, PMDFI2, PMDFI3, PMCHCD, PMMPCT, PMMDOL, PMFPCT, PMFACT, PMFCWT, PMCARR, PMFOB, PMSHWH, PMSHVN, PMSHVS, PMFTRM, PMBOA, PMMIND, PMOCST, PMOSEL, PMOUNT, PMONLC, PMOCAS, PMOFRT, PMOWGT, PMOCUB, PMOFSL, PMRCDT, PMRCTR, PMRSEL, PMRUNT, PMRNLC, PMRFRT, PMRWGT, PMRCAS, PMPRDT, PMFLG1, PMFLG2, PMFLG3, PMFLG4, PMFLG5, PMFLG6, PMFLG7, PMFLG8, PMFLG9, PMTMS2, PMMI2C, PMTMS3, PMMI3C, PMTFR2, PMFRTC, PMTMS4, PMMI4C, PMTMS1, PMMI1C, PMTMSP, PMMIPC, PMFLGA, PMFLGB, PMFLGC, PMFLGD, PMFLGE, PMFLGF, PMFLGG, PMFLGH, PMFLGI, PMFLGJ, PMFLGK, PMFLGL, PMFLGM, PMFLGN, PMFLGO, PMNACT
		FROM dbo.C_INPMSTP_20120209
GO
/****** Object:  View [dbo].[Vw_INRCVHP_JN]    Script Date: 04/18/2012 17:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INRCVHP_JN]
		AS
		Select Distinct RHSHWH, RHITEM, RHDATE, RHWHSE, RHPONO, RHLOGL, RHTRAN, RHSHTO, RHDEPT, RHVEND, RHSUFF, RHQORD, RHQRCV, RHNLC, RHSELL
        FROM dbo.C_INRCVHP_20120209
GO
/****** Object:  View [dbo].[Vw_INUPCWP_JN]    Script Date: 04/18/2012 17:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INUPCWP_JN]
		AS
		Select Distinct UWCMPY, UWWHSE, UWITEM, UWUPC#, UWCUPC, UWDLTF, UWFLG1, UWFLG2, UWFLG3, UWFLG4, UWFLG5
		FROM dbo.C_INUPCWP_20120209
GO
/****** Object:  View [dbo].[Vw_INVITMP_JN]    Script Date: 04/18/2012 17:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INVITMP_JN]
		AS
		Select Distinct VIWHSE, VIDEPT, VIVEND, VISUFF, VIITEM, VIBUYR, VIBOFF, VICMPY, VISQTY, VISDES, VIVBUQ, VIVBUD, VIMPK, VIMPKD, VIWGT, VICUBE, VIRAND, VIFAMT, VIFRT2, VIFRTC, VIFAPC, VIFAMK, VIFACT, VICHGC, VIICHG, VIMI2C, VIMIS2, VIMI3C, VIMIS3, VIMISP, VIMIPC, VICOST, VINCST, VINLC, VIDFI1, VIEDT1, VIDFI2, VIEDT2, VIDFI3, VIEDT3, VICHCD, VIDFI4, VIEDT4, VIDFI5, VIEDT5, VIALT, VIADDT, VIDSDT, VISTAT, VIFLG1, VIFLG2, VIFLG3, VIFLG4, VIFLG5, VIFLG6, VIFLG7, VIFLG8, VIFLG9, VIPMRK, VIVATC, VIEXCR, VIDUTP, VIDUTD, VISLTX, VIEXTX, VIDPOT
		FROM dbo.C_INVITMP_20120209
GO
/****** Object:  View [dbo].[Vw_INVMSTP_JN]    Script Date: 04/18/2012 17:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INVMSTP_JN]
		AS
		Select distinct VMWHSE, VMDEPT, VMVEND, VMSUFF, VMBUYR, VMBOFF, VMNAME, VMSORT, VMTDES, VMCPCT, VMDAY1, VMTYP1, VMTYP2, VMTYP3, VMDAY2, VMDFI1, VMDFI2, VMDFI3, VMCHCD, VMMPCT, VMMDOL, VMFPCT, VMFACT, VMFCWT, VMCARR, VMSHPF, VMFOB, VMSHWH, VMSHVN, VMSHVS, VMFTRM, VMPOTO, VMORD, VMVEN, VMSHP, VMDOCK, VMSTK, VMMIND, VMMINX, VMBOA, VMSHPC, VMODAY, VMORIN, VMSSTK, VMSTAT, VMBBS, VMCMPY, VMADR1, VMADR2, VMADR3, VMADR4, VMCTRY, VMPCDE, VMCONT, VMPHON, VMRNAM, VMRCON, VMRPHN, VMOCON, VMOPHN, VMFAX1, VMFAX2, VMFLG1, VMFLG2, VMFLG3, VMFLG4, VMFLG5, VMFLG6, VMFLG7, VMFLG8, VMFLG9, VMADDT, VMCHGD, VMFLGA, VMFLGB, VMFLGC, VMFLGD, VMFLGE, VMFLGF, VMFLGG, VMFLGH, VMFLGI, VMFLGJ, VMHAND, VMBROK, VMFLGK, VMFLGL, VMFLGM, VMFLGN, VMFLGO, VMFLGP, VMFLGQ, VMFLGR, VMFLGS, VMFLGT, VMAUTR
        FROM dbo.C_INVMSTP_20120209
GO
/****** Object:  View [dbo].[Vw_INWCTLP_JN]    Script Date: 04/18/2012 17:17:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INWCTLP_JN]
		AS
		Select distinct WCWHSE, WCREGN, WCCMPY, WCNAME, WCSNAM, WCADR1, WCADR2, WCADR3, WCADR4, WCCTRY, WCPCDE, WCPHON, WCRCDT, WCSLDT, WCRBAY, WCPHDT, WCRECT, WCOPDT, WCOPD2, WCPODT, WCPOSQ, WCSTAT, WCOUTQ, WCFLG1, WCFLG2, WCFLG3, WCFLG4, WCFLG5, WCFLG6, WCFLG7, WCFLG8, WCFLG9, WCFLG0, WCFLGA, WCFLGB, WCFLGC, WCFLGD, WCFLGE, WCFLGF, WCFLGG, WCFLGH, WCFLGI, WCFLGJ, WCFLGK, WCFLGL, WCFLGM, WCFLGN, WCFLGO, WCMSGQ, WCFLD1, WCFLD2, WCFLD3, WCFLD4, WCOTQ2, WCLANG, WCFLGP, WCFLGQ, WCFLGR, WCFLGS, WCFLGT
        FROM dbo.C_INWCTLP_20120209
GO
/****** Object:  View [dbo].[Vw_INIDSCP_JN]    Script Date: 04/18/2012 17:17:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_INIDSCP_JN]
		AS
		Select distinct IDITEM, IDCMPY, IDDEPT, IDCAT1, IDCAT2, IDCAT3, IDDES1, IDDES2, IDSGN1, IDSGN2, IDSGN3, IDRDES, IDBOFF, IDBUYR, IDFLG1, IDFLG2, IDFLG3, IDFLG4, IDFLG5, IDUPC#, IDMDL#, IDVSLF, IDDSLF, IDCSLF, IDUNIT, IDFCTR, IDTSG1, IDTSG2, IDTSG3, IDADDT1, IDTMPC, IDCBR1, IDCBR2, IDCBR3, IDCSL1, IDCSL2, IDCSL3
        FROM dbo.C_INIDSCP_20120209
GO
/****** Object:  View [dbo].[Vw_PODETAL_JN]    Script Date: 04/18/2012 17:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_PODETAL_JN]
		AS
		Select distinct RRCDAT, RRWHSE, RRDEPT, RRAPNO, RRASUF, VMNAME, RRLOGL, RRPONO, RRITEM, IDDES1, RRQORD, RRQRCV, RRVBUQ, RRCOST, RRNCST, TOTV, TOTC, TOTC1, RRDFI1, RRDFI2, RRDFI3, RRCHCD
        FROM dbo.C_PODETAL_20120209
GO
/****** Object:  View [dbo].[Vw_POTOTAL_JN]    Script Date: 04/18/2012 17:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_POTOTAL_JN]
		AS
		Select distinct AMWHSE, AMAPNO, AMASUF, AMPONO, AMLOGL, AMRCDT, AMAPNM, AMDEPT, AMTRAN, AMBUYR, AMBOFF, AMTDES, AMTYP1, AMDFI1, AMDFI2, AMDFI3, AMCHCD, AMRSEL, AMRNET
        FROM dbo.C_POTOTAL_20120209
GO
/****** Object:  View [dbo].[Vw_AP_JN]    Script Date: 04/18/2012 17:17:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[Vw_AP_JN]
AS
Select Distinct VndNbr, VND_SUFF, VndName, PONbr, JELOGL, InvNbr, InvDt, ChkNbr, ChkDt, StrNbr, DptNbr, PERIOD, JETAMT, DscAmt, GrsInvAmt, IEPS, VATAMT, INV_AMT, ChkAmt, PCTIEPS, PCTIVA, PCTDSC, ChkTyp, JEACC_, JEACCS, JESELA, JESRC_, JEDUED
-- Into dbo.P_AP_JN 
From P_Auditpro_INPY
Where VndNbr > 50000
GO
/****** Object:  View [dbo].[Vw_List_InvNbr]    Script Date: 04/18/2012 17:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[Vw_List_InvNbr] WITH SCHEMABINDING 
AS
Select 
vndnbr = CAST(VNDNBR AS varchar(5)), vnd_suff = CAST(VND_SUFF AS varchar(2)),	
PONbr = CAST(PONBR AS varchar(7)), jelogl = CAST(JELOGL AS varchar(9)),	
INVNBR = INVNBR,
COUNT_BIG(*) AS BigCount	
From dbo.P_Auditpro_INPY
Where PONBR <> 0  
Group by VNDNBR, VND_SUFF, PONBR, JELOGL, INVNBR
GO
/****** Object:  View [dbo].[Vw_SAIFPIP_JN]    Script Date: 04/18/2012 17:17:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vw_SAIFPIP_JN]
		AS
		Select distinct SIWHSE, SIDATE, SITNDT, SITRCN, SIVEND, SISUFF, SIITEM, SIDEPT, SIQNTY, SIPSIV, SITXIV, SIPRNT, SICSFE, SIAPFL
        FROM dbo.C_SAIFPIP_20120209
GO
/****** Object:  View [dbo].[Vw_LI_JN]    Script Date: 04/18/2012 17:17:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[Vw_LI_JN]
AS
Select *
FROM dbo.P_Pre_LineItem
GO
